/* media queries */

@media screen and (max-width: 1023px) {
  .about .banner {
    height: 223px;
  }
  .about .banner .bg_filter {
    height: 223px;
  }
  .about_container .collapse-button {
    height: 50px;
  }
  .about_container .collapse-button h3 {
    display: flex;
    align-items: center;
    font-size: 1.2em;
  }
  .about_container .collapse-content.expanded p {
    font-size: 1em;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 580px) {
  .about_container .collapse-button h3 {
    font-size: 1em;
  }
  .about_container .collapse-content.expanded {
    height: auto;
  }
  .about_container .collapse-content.expanded p {
    font-size: 0.8em;
  }
}

