.carousel_container {
  width: 100%;
}

.block_currentImage {
  height: 415px;
  width: 90%;
  margin: auto;
}

.currentImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.page-counter {
  width: 90%;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 500px;
  left: 3%;
  font-size: 1em;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.block_carousel-icon {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 130px;
  height: 415px;
  width: 90%;
  left: 5%;
}

.goToPreviousIcon {
  width: 40%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2%;
  cursor: pointer;
}
.goToNextIcon {
  width: 40%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 2%;
  cursor: pointer;
}

/* media queries */

@media screen and (min-width: 2040px) {
  .goToNextIcon {
    margin-right: 100px;
  }

  .goToPreviousIcon {
    margin-left: 100px;
  }
}

@media screen and (min-width: 2250px) {
  .goToNextIcon {
    margin-right: 250px;
  }

  .goToPreviousIcon {
    margin-left: 250px;
  }
}

@media screen and (max-width: 1023px) {
  .carousel_container,
  .block_currentImage,
  .block_carousel-icon {
    height: 255px;
  }
  .block_carousel-icon img {
    width: 18px;
  }

  .page-counter {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .block_carousel-icon {
    top: 70px;
  }
}
