.container_footer{
    width: 100%;
    height: 250px;
    background-color:#000 ;
    text-align: center;
}

.container_footer img{
    margin-top: 30px;
    width: 200px;
}

.container_footer p{
    font-size: 1.5em;
    color: #fff ;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}