.transmitter-and-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
.block_introduction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.location_lodging {
  width: 70%;
}

.info_lodging {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-content: normal;
  align-items: end;
  margin-top: 1em;

}

.location_lodging h2 {
  color: #ff6060;
  font-size: 2rem;
}

.location_lodging p {
    color: #ff6060;
    font-size: 1.5rem;
  }

.tags_list{
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

.location_lodging li {
  list-style-type: none;
  margin-right: 1em;
 color:#FFF;
  padding:0.6em;
  border-radius: 15px;
  background: #ff6060;
  width: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about_lodging {
  width: 50%;
}

.block_img {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  margin-left: 1em;
}

.block_img img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

.transmitter_name{
    color: #ff6060;
    font-size: 1rem;
    margin-right: 1em;
}

@media screen and (max-width: 1024px){
  .block_introduction {
    flex-direction: column;

  }

  .location_lodging {
    width: 100%;
  }

  .location_lodging h2 {
    font-size: 1.5em;
  }

  .location_lodging p {
    font-size: 0.9em;
  }

  .info_lodging{
    width: 100%;
    flex-direction: row-reverse;
    margin-top: 0;
    align-items: center;
    justify-content: space-between;

  }
  .info_lodging .transmitter-and-rating {
    width: 50%;
    align-items: center;
  }

  .tags_list li{
    font-size: 0.8em;
  }

  .block_img{
    width: 20%;
    margin-left: 1em;
    justify-content: end;
  }
}

@media screen and (max-width: 580px){

 



  .block_img img{
    width: 48px;
    height: 48px;
  }
  .transmitter_name{
    width: 70%;
    text-align: right;
  }

  .info_lodging  .block_rating{
    width: 30%;
  }


}

@media screen and (max-width: 425px){
  .block_img img{
    width: 32px;
    height: 32px;
  }
}