body {
  font-size: 1rem;
}

p,
h2,
a {
  font-family: "Montserrat", sans-serif;
}

.notFound_container {
  height: 900px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.error-message {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 8em;
}

.error-message h2 {
  font-size: 20em;
  margin-top: 0;
  margin-bottom: 0;
  color: #ff6060;
}

.error-message p {
  color: #ff6060;
  font-size: 2em;
}

.link_backToHome {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.2em;
  width: 90%;
  text-align: center;
}

.link_backToHome a {
  color: #ff6060;
}

/* media queries */

@media screen and (min-width: 2000px) {
  body {
    max-width: 2000px;
    margin: auto;
  }
}

@media screen and (max-width: 1023px) {
  .notFound_container {
    height: 500px;
  }
  .notFound_container {
    margin-top: 6em;
  }

  .error-message {
    width: 100%;
    margin-top: 0;
    text-align: center;
    height: auto;
  }
  .error-message h2 {
    font-size: 10em;
    width: 90%;
  }

  .error-message p {
    width: 90%;
    font-size: 1.5em;
  }

  .link_backToHome {
    height: auto;
    margin-top: 5em;
  }
}

@media screen and (max-width: 580px) {
  .error-message h2 {
    font-size: 5em;
    width: 90%;
  }

  .error-message p {
    width: 90%;
    font-size: 1.2em;
  }

  .link_backToHome {
    font-size: 0.9em;
  }
}
