.block_rating {
  width: 100%;
  display: flex;
  justify-content: end;
}

.stars_list {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.stars_list div li {
  list-style-type: none;

  margin: 0 0.1em;
}

/* media queries */

@media screen and (max-width: 1023px) {
  .info_lodging .block_rating {
    justify-content: start;
  }

  .stars_list {
    margin: 0;
  }
}

@media screen and (max-width: 425px) {
  .stars_list img {
    width: 15px;
  }
}
